@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */

/* Colors */
:root {
  --color-default-: ;
  --color-primary-: #0b7bbe;
  --color-secondary-: #e1eff7;
  --color-tertiary-: #109367;
  --color-4-: #caeeeb;
  --color-5-: #d7b9ff;
  --color-bg-: #f1e5ff;
  --color-secondary-bg-: ;
}
/* -------------------------------------------------------------- */

*/ :root {
  scroll-behavior: smooth;
}

/* -------------------------------------------------------------- */

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Outfit", sans-serif; */
}

html,
body {
  height: 100vh;
  margin: 0;
}

.readmore {
  color: var(--color-primary-);
}

.text-medicalink-blue {
  color: #0b7bbe;
}

.bg-medicalink-blue {
  background: #0b7bbe;
}
.bg-medicalink-gray {
  background: #273740;
}

.bg-mint-green {
  background: #37a468;
}

.bg-secondary-blue {
  background: #215893;
}

.border-medicalink-blue {
  border: 1;
  border-color: #0b7bbe;
}

@media (min-width: 0px) {
  .xs {
    text-align: center;
  }
}

@media (max-width: 768px) {
  #index .max-w-full img {
    width: 75%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}

.sticky-nav {
  position: sticky;
  top: 0; /* This will make it stick at the top of the viewport */
  z-index: 1000; /* Ensures it's above other elements */
  width: 100%;
}
