@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */

/* Colors */
:root {
  --color-default-: ;
  --color-primary-: #0b7bbe;
  --color-secondary-: #e1eff7;
  --color-tertiary-: #109367;
  --color-4-: #caeeeb;
  --color-5-: #d7b9ff;
  --color-bg-: #f1e5ff;
  --color-secondary-bg-: ;
}
/* -------------------------------------------------------------- */

*/ :root {
  scroll-behavior: smooth;
}

/* -------------------------------------------------------------- */

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Outfit", sans-serif; */
}


body, html {
  height: 100%; /* Ensure body and html take full viewport height */
  margin: 0;    /* Remove default margin */
  padding: 0;   /* Remove default padding */
  }


.main-content {
  min-height: 100vh; /* Ensure the content takes up at least the full screen height */
  padding-top: 60px;
}


.readmore {
  color: var(--color-primary-);
}

.text-medicalink-blue {
  color: #0b7bbe;
}

.bg-medicalink-blue {
  background: #0b7bbe;
}
.bg-medicalink-gray {
  background: #273740;
}

.bg-mint-green {
  background: #37a468;
}

.bg-secondary-blue {
  background: #215893;
}

.border-medicalink-blue {
  border: 1;
  border-color: #0b7bbe;
}

@media (min-width: 0px) {
  .xs {
    text-align: center;
  }
}

@media (max-width: 768px) {
  #index .max-w-full img {
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}



  /* Typewriter text animation */
.typewriter-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
}

.introducing {
  animation: typing 1s steps(72) forwards;
}

.medicalink {
  animation: typing 1.2s steps(84) 2.6s forwards; 
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

h2 span {
  display: block; /* Force each text to appear on its line */
  margin-bottom: 0.5rem; /* Adjust vertical spacing */
  line-height: 1.25; /* Make sure there's enough space */
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink {
  display: inline-block;  /* Ensure it stays on the same line */
  animation: blink 0.8s steps(1) infinite;
  animation-delay: 0.15s;  /* Adjust delay as needed */
  animation-iteration-count: 3; /* Blink 3 times */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

/* For WebKit Browsers (Chrome, Edge, Safari) */
#sidebar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

#sidebar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

#sidebar::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
  border-radius: 0; /* Make it square */
}

#sidebar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover */
}

/* For Firefox */
#sidebar {
  scrollbar-width: thin; /* Makes it smaller */
  scrollbar-color: #888 #f1f1f1; /* Thumb color | Track color */
}

/* Hide Arrows (on overflow) */
#sidebar::-webkit-scrollbar-button {
  display: none;
}
