@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */

@import "tw-elements/dist/css/tw-elements.min.css";


/* Colors */
:root {
  --color-default-: ;
  --color-primary-: #0b7bbe;
  --color-secondary-: #e1eff7;
  --color-tertiary-: #109367;
  --color-4-: #caeeeb;
  --color-5-: #d7b9ff;
  --color-bg-: #f1e5ff;
  --color-secondary-bg-: ;
}
/* -------------------------------------------------------------- */

*/ :root {
  scroll-behavior: smooth;
}

/* -------------------------------------------------------------- */

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Outfit", sans-serif; */
}


.main-content {
  min-height: 100vh; /* Ensure the content takes up at least the full screen height */
  padding-top: 60px;
}


.readmore {
  color: var(--color-primary-);
}

.text-medicalink-blue {
  color: #0b7bbe;
}

.bg-medicalink-blue {
  background: #0b7bbe;
}
.bg-medicalink-gray {
  background: #273740;
}

.bg-mint-green {
  background: #37a468;
}

.bg-secondary-blue {
  background: #215893;
}

.border-medicalink-blue {
  border: 1;
  border-color: #0b7bbe;
}

@media (min-width: 0px) {
  .xs {
    text-align: center;
  }
}

@media (max-width: 768px) {
  #image-resize .max-w-full img {
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}

@media (max-width: 768px) {
  #image-1 #image-2 #image-3 .max-w-full img {
    width: 40%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}


  /* Typewriter text animation */
.typewriter-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
}

.introducing {
  animation: typing 1s steps(72) forwards;
}

.medicalink {
  animation: typing 1s steps(84) 0.6s forwards; 
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

h2 span {
  display: block; /* Force each text to appear on its line */
  margin-bottom: 0.15rem; /* Adjust vertical spacing */
  line-height: 1; /* Make sure there's enough space */
}


[data-aos] {
  opacity: 0; /* Default state before animation */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

[data-aos].aos-animate {
  opacity: 1; /* Ensure the element remains visible after animation */
  transform: none; /* Reset any transformation applied during animation */
}

   /* Style the indicators */
   .carousel-indicators {
    position: absolute;
    bottom: 15px; /* Adjust the vertical position */
    width: 100%;
    display: flex;
    justify-content: center; /* Center the indicators horizontally */
    padding: 0;
    list-style: none;
  }

  .carousel-indicators li {
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent white */
    width: 30px;  /* Set the width for a more slender rectangular look */
    height: 6px; /* Reduce the height to make them thinner */
    margin: 0 5px; /* Spacing between the indicators */
    border-radius: 5px; /* Optional: Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
  }

  /* Active indicator */
  .carousel-indicators .active {
    background-color: rgba(255, 255, 255, 1); /* Fully white for the active indicator */
  }

  /* Hover effect */
  .carousel-indicators li:hover {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly brighter on hover */
  }